# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment / local packages
Lib/
Scripts/
env/
venv/

# pip package metadata
*.dist-info/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
